.our-services {
    margin-top: 6.188rem;
    margin-bottom: 6.188rem;
    padding-top: 3.5rem;
    padding-bottom: 5.125rem;
    background-image: url("assets/images/blueprint-blue_1440px.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


    &__content {
        max-width: 1340px;
        padding-inline: 1.5rem;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1.375rem;
    }

    &__link-block {
        grid-column: 1 / span 5;
        overflow: hidden;
        position: relative;
    }

    &__link-block h2 {
        font-size: 2rem;
        font-weight: 600;
        color: $mainWhite;
        margin-bottom: .55rem;
    }

    &__green-line {
        height: 6px;
        background-color: $mainGreen;
        width: 30%;
        margin-bottom: 2rem;
    }

    &__link-block ul{
        list-style-type: none;    
    }

    &__link-block li {
        text-decoration: none;
        color: $mainWhite;
        font-size: 2.375rem;
        font-weight: 500;
        line-height: 4.75rem;
        position: relative;
        cursor: pointer;
    }

    &__link-block li:hover {
        color: $mainGreen;
    }

    &__link-block li::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $mainGreen;
        opacity: 1;
        transition: opacity 300ms, transform 300ms;
        transform: translate3d(-100%, 0, 0);
    }

    &__link-block li:hover::after,
    &__link-block li:focus::after {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    &__link-description {
        grid-column: 8 / span 5;
        align-self: center;
        border-top: 1px solid $mainGreen;
        border-bottom: 1px solid $mainGreen;
        padding-top: 2rem;
        padding-bottom: 2rem;

        & p {
            color: $mainWhite;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 100;
            margin-bottom: 1rem;
        }
    }
}
